#codeeditor { 
  width: 100%;
  height: 400px;
}
#buttonContainer {
  margin-top: 10px;
  margin-bottom: 40px;
}
#consoleContainer {
  height: 200px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 7px;
  font-family: 'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
  font-size: 12px;
}
#consoleContainer p {
  margin: 0px;
}
#emergencyBtn {
  
}
#runningBtn {
  padding-left: 45px;
}
#runningBtn img {
  position: absolute;
  left: 25px;
  top: 7px;
}
